{% extends "base.html" %}
        {% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}


 {% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ SITEURL }}/theme/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading"> {{ article.summary }}</h2>
                        <span class="meta">Posted by {% for author in article.authors %}<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% endfor %} on   <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
	{% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </abbr>
	{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% endblock%}


    {% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <p>{{ article.content }}</p>
                    </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}