{% extends "base.html" %}
{% block content %}

     <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <!-- posts-list -->

                {% for article in articles_page.object_list %}

                <div class="post-preview">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <h2 class="post-title">
                            <i class="fa fa-code"></i> {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                           {{ article.summary }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {% for author in article.authors %} <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% endfor %} on {{ article.locale_date }}</p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                {% include 'pagination.html' %}

            </div>
        </div>
    </div>

    <hr>




{% endblock content %}
